<div class="container">
  <div class="text-center mb-3 p-3">
    <h1>Find your task</h1>
    <input
      class="form-control w-50 mx-auto border-2"
      [(ngModel)]="searchTerm"
      name="search"
      placeholder="Search"
    />
  </div>

  <div
    *ngFor="let todo of getFilteredTodos()"
    class="todo-item mb-3 p-2 border rounded"
    [class.completed]="todo.completed"
  >
    <input
      type="checkbox"
      [checked]="todo.completed"
      (change)="updateTodoStatus(todo.id, $event)"
      class="m-2"
    />

    <span class="m-3">{{ todo.todo }}</span> -
    <span class="m-3 fw-bold">{{ getAuthorName(todo.userId) }}</span>
  </div>
</div>
